<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.kkgy333.sword.fabric.server.dao.mapper.CAMapper">

    <update id="updateWithNoFile" >
        update ca set name=#{c.name},tls=#{c.tls},flag=#{c.flag} where id=#{c.id}
    </update>


    <select id="check" resultType="com.github.kkgy333.sword.fabric.server.dao.CA">
        select id,name,sk_path,certificate_path,tls,flag,peer_id,date from ca where name=#{c.name} and peer_id=#{c.peerId}
    </select>
</mapper>